<table class="table table-bordered w-auto mx-auto">
  <% 3.times do |row| %>
    <tr>
      <% 3.times do |col| %>
        <% index = row * 3 + col %>
        <td style="width: 80px; height: 80px; vertical-align: middle; text-align: center;">
          <% if game.state[index].present? %>
            <strong><%= game.state[index] %></strong>
          <% elsif !game.finished? %>
            <%= button_to "", move_game_path(game, index: index), method: :post, class: "btn btn-outline-dark", form: { data: { turbo_frame: "game" } }, style: "width: 64px; height: 64px; padding: 0;" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
